---
import Layout from "../layouts/Layout.astro";
import TerminalLine from "@components/TerminalLine.astro";
import ASCII from "@components/ASCII.astro";
import Tecnologies from "@components/Tecnologies.astro";
import CLink from "@components/CLink.astro";
import WorkDetails from "@components/WorkDetails.astro";

import {
  about,
  certificaciones,
  formasDeContacto,
  lenguajes,
  trabajos,
} from "@data/data.json";
---

<Layout title="guille ðŸ§">
  <main
    class="m-auto p-4 max-w-[calc(100%-2rem)] w-[1280px] text-2xl leading-6"
  >
    <TerminalLine command="cat guille.txt | cowsay -n" />
    <ASCII />

    <TerminalLine command="whoami" />
    <p>
      {about.descripcionMia}
      <br />
      <br />
      ðŸ”­ Actualmente trabajo en
      <CLink href={about.linkTrabajoAct}>{about.trabajoActual}</CLink>
    </p>
    <p>
      Recibido de Analista en Infraestructura informatica cursado en <CLink
        href="https://fi.ort.edu.uy/analista-en-infraestructura-informatica"
        >ORT</CLink
      >
    </p>

    <TerminalLine class:list={"mt-8"} command="cat languages.txt | known.sh" />
    <p>
      {lenguajes.map((l) => <span class="block">- {l}</span>)}
    </p>

    <TerminalLine
      class:list={"my-4"}
      command="cat work_experience.txt | prettyfy.sh"
    />

    {
      trabajos.map(({ from, to, workplace, link, tasks }) => (
        <WorkDetails
          workplace={workplace}
          from={from}
          to={to}
          link={link}
          tasks={tasks}
        />
      ))
    }

    <TerminalLine
      class:list={"mt-8 mb-4"}
      command="cat tecnologias.txt | table.sh"
    />
    <p>ðŸŒ±Tengo experiencia en las siguientes tecnologias:</p>
    <Tecnologies />

    <TerminalLine
      class:list={"my-4"}
      command="find . -type f -name '*certification.pdf' -exec parsecert.sh {} \\"
    />

    {
      certificaciones.map(({ link, nombre }) => (
        <CLink class:list={"block"} href={link}>
          {nombre}
        </CLink>
      ))
    }

    <TerminalLine class:list={"my-4"} command="cat contactInfo.txt" />
    <p>
      {
        formasDeContacto.map(({ link, texto }) => (
          <CLink class:list={"block"} href={link}>
            {texto}
          </CLink>
        ))
      }
    </p>

    <!-- Final Line -->
    <TerminalLine class:list={"mt-4"} />
  </main>

  <footer class="m-auto p-4 max-w-[calc(100%-2rem)] w-[1280px] leading-6">
    page made by <CLink href="https://sebasdiaz.com">sebadio</CLink>
  </footer>

  <footer class="m-auto p-4 max-w-[calc(100%-2rem)] w-[1280px] leading-6">
    Inspired by by <CLink href="https://agust.stratus.services">sebadio</CLink>
  </footer>
</Layout>
